html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: $font-m;
  font-family: "Montserrat", sans-serif;
  font-weight: $font-weight-s;
  color: $darkGrayishBlue;
  line-height: 1.75;

  h1{
    font-family: "Fraunces", sans-serif;
    font-size: $font-h1;
    line-height: 1;
    color: black;
  }

  .btn {
    padding: 1rem;
    background-color: $darkCyan;
    border-radius: 0.5rem;
    color: $white;
    text-align: center;

    &:hover {
      background-color: $veryDarkBlue;
      cursor: pointer;
    }
  }

  .mb {
    margin-bottom: 0.5rem;

    @include breakpoint-up(medium) {
      //margin-bottom: 2rem;
    }
  }

  .inline-icon {
    vertical-align: middle;
    padding-right: 0.5rem;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
    color: black;

    a {
      color: $darkCyan;
    }
  }
}